body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./images/background.jpg');
    background-size: cover;
    background-position: center;
}

.welcome-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* slightly transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: darkgray;
    font-size: 2em;
}
